@page "/"
@using Architectures.BaseSources.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div>
    <div>
        <p>Id : @product.Id </p>
        <p>Message : @product.Message</p>
    </div>
</div>



@code {
    ProductDto product;

    protected override async Task OnInitializedAsync()
    {
        product = await Http.GetFromJsonAsync<ProductDto>("shop/product/12");
    }
}
