@model ProductDto

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <hr />
    <h3>Find Product</h3>

    <form method="get" asp-action="GetProduct" asp-controller="Home">
        <input type="number" name="id" placeholder="Enter Product ID" required />
        <button type="submit" class="btn btn-primary">Get Product</button>
    </form>

    @if (Model != null)
    {
        <hr />
        <h3>Product Info from Shop API</h3>
        <p><strong>ID:</strong> @Model.Id</p>
        <p><strong>Name:</strong> @Model.Name</p>
    }
</div>
